<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>

<body>
    <h1>I am Learning EJS</h1>
    <p>
        <%= ["hi","hello","raj"][0] %>
    </p>
    <h2>Dice values is
        <%= diceVal %>
    </h2>
    <% if(diceVal==6){ %>
        <h1>Nice! were another</h1>
        <% } %>

</body>

</html>